
*{ max-width: 980px;
    max-height: 950px;

}

#mtitle {font-family: 'Orbitron', sans-serif;
    font-size: 125px;
    color: black;
    -webkit-text-fill-color: rgb(13, 68, 87);
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: black;
    margin-bottom: 0;
    margin-left: 320px;
    text-align: center;
    line-height: 1;

}

#paint {font-family: 'Finger Paint', cursive;
    color: yellow;
    text-align: center;
    font-size: 80px;
    z-index: 99;
    margin-top: 0;
    text-shadow: 5px 5px black;
    transform: rotate(-25deg);
    padding-bottom: 25px;
    margin-right: 150px;
    margin-bottom: 30px;

}

.main {text-align: center;
    background-color: rgb(13, 68, 87);
    width: 650px;
    height: 650px;
    margin-left: 350px;
    border: solid 5px black;
    z-index: -1;

}

img {width: 260px;
    height: 280px;
    border: solid 5px black;
    z-index: -1;
    margin-top: 10px;
    
}

#top { text-align: center;
    line-height: 1.5;
    padding-right: 25px;
    font-family: 'Finger Paint', cursive;
    color: rgb(243, 46, 145);
    margin-top: 10px;

}

#word {
    margin-top: 15px;
    margin-left: 25px;
    font-family: 'Finger Paint', cursive;
    color: rgb(243, 46, 145);
}

.left {text-align: left;

}

#bottom {text-align: left;
    font-family: 'Finger Paint', cursive;
    color: rgb(243, 46, 145);
    margin-left: 300px;
    padding-top: 50px;
    
}

#guesses, #lettersGuessed, #emptyMovie, #wins {font-family: 'Times New Roman', Times, serif !important;
    color: black !important;
    font-size: 35px !important;
    
}

